.orderfoodbutton {
  border: none;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  color: #ffb606;
  font-size: 1.5rem;
  background: transparent;
  transition: all 0.2s;
}

.orderfoodbutton:hover {
  color: white;
}
.deleteorderfood {
  border: none;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  color: red;
  font-size: 1.5rem;
  background: transparent;
  transition: all 0.2s;
}

.deleteorderfood:hover {
  color: white;
}

.orderListInProfile {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  background-color: white;
  padding: 1rem;
  margin: 1rem 0;
  list-style: none;
}
.tableoforder td {
  padding: 1rem;
  text-align: start;
}
.tableoforder input {
  margin-top: 2rem;
  padding: 0.3rem;
  text-align: center;
}

/* .tableoforder tr {
  display: flex;
  
} */

.fixed-value {
  display: flex;
  padding: 1rem;
  color: white;
  justify-content: space-between;
}
.foodview {
  display: flex;
  justify-content: space-between;
}
.orders {
  background-color: #ffb606;
  width: 20rem;
  height: 30rem;
}
.placeOrder {
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
  border: 1px solid white;
}

.placeOrder:hover {
  color: #ffb606 !important;
  background-color: white;
}

.listofitem {
  overflow-y: scroll;
  height: 20rem;
}

.style-change {
  margin-right: 1rem;
}
.orders h2 {
  padding: 0.5rem 1rem;
}
.order-item {
  display: flex;
  width: 100%;
  padding: 1rem;
  color: white;
  justify-content: space-between;
}

.pr {
  text-align: end;
}

.fade {
  animation: fade 0.5s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 1rem;
  width: fit-content;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

table th {
  font-size: 0.85em;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  table {
    border: 0;
    width: 100%;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table th {
    text-align: center;
  }

  table tr {
    padding: 0.1rem;
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    padding: 0.1rem;
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}