.orderfoodbutton {
  border: none;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  color: #ffb606;
  font-size: 1.5rem;
  background: transparent;
  transition: all 0.2s;
}

.orderfoodbutton:hover {
  color: white;
}
.deleteorderfood {
  border: none;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  color: red;
  font-size: 1.5rem;
  background: transparent;
  transition: all 0.2s;
}

.deleteorderfood:hover {
  color: white;
}

.orderListInProfile {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  padding: 1rem;
  margin: 1rem 0;
  list-style: none;
}

.tableoforder td {
  border-bottom: 0.5px solid black;
  padding: 1rem;
  text-align: start;
}
.tableoforder th {
  border-bottom: 0.5px solid black;
  padding-bottom: 10px;
}
.tableoforder input {
  margin-top: 2rem;
  padding: 0.3rem;
  text-align: center;
}

/* .tableoforder tr {
  display: flex;
  
} */

.fixed-value {
  display: flex;
  padding: 1rem;
  color: white;
  justify-content: space-between;
}
.foodview {
  display: flex;
  justify-content: space-between;
}
.orders {
  background-color: #ffb606;
  width: 20rem;
  height: 30rem;
}
.placeOrder {
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
  border: 1px solid white;
}

.placeOrder:hover {
  color: #ffb606 !important;
  background-color: white;
}

.listofitem {
  overflow-y: scroll;
  height: 20rem;
}

.style-change {
  margin-right: 1rem;
}
.orders h2 {
  padding: 0.5rem 1rem;
}
.order-item {
  display: flex;
  width: 100%;
  padding: 1rem;
  color: white;
  justify-content: space-between;
}

.pr {
  text-align: end;
}

.fade {
  animation: fade 0.5s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.currentaddress {
  background-color: transparent;
  border: none;
  border-left: 1px solid;
  padding: 0.8rem;
  width: max-content !important;
}
#changeAddress {
  border: none;
  cursor: pointer;
  height: 3rem;
  color: white;
  background-color: #ffb606 !important;
  font-size: 1rem;
  background: transparent;
  transition: all 0.2s;
  border: 1px solid;
}
#changeAddress:hover {
  color: #ffb606;
  background-color: white !important;
}
