* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #272727;
}

.container .welcome {
  background-image: url("../assets/images/banner-bg.jpg");
}

.container h1 {
  margin: 2rem;
  font-family: "Century Gothic";
  text-align: center;
  font-size: 2rem;
  color: white;
}

.container .cards {
  background-image: url("../assets/images/banner-bg.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.container .unvisible {
  opacity: 0;
}

.container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 20rem;
  padding: 1rem;
  font-family: "Courier New", Courier, monospace;
  border-radius: 25px;
  background: #ffffff;
  margin: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container .card .name {
  color: #444444;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.container .card .phone {
  font-size: 0.8rem;
  font-family: "Century Gothic";
}

.container .card .userinfo {
  padding: 0.8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .card .payment {
  margin: 1rem 0;
  padding: 1rem 0;
}

.container .card .paymentdetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .newrest {
  background-color: #f8f8f8;
  height: 100vh;
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../assets/images/super.png");
  background-repeat: repeat;
}

.container .newrest .formbox {
  width: 20rem;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .newrest .formbox h1 {
  font-size: 1rem;
  text-align: center;
  font-weight: 200;
  letter-spacing: 0.2rem;
  color: #484848;
}

.container .newrest .formbox form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  width: 100%;
  padding: 1.5rem 1.3rem;
}

.container .newrest .formbox form input {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 42px;
  margin-bottom: 12px;
  padding: 16px 13px;
  color: #999999;
  border: 1px solid #d9d9d9;
  background: transparent;
  border-radius: 2px;
}

.container .newrest .formbox form button {
  font-size: 12px;
  line-height: 42px;
  display: block;
  width: 100%;
  height: 42px;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #263238;
  border: 1px solid #263238;
  background: transparent;
  background-color: transparent;
  border-radius: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.container .newrest .formbox form button:hover {
  background-color: #263238;
  color: white;
}
/*# sourceMappingURL=superadminhome.css.map */